nav.nav
    ul.nav__list
        li.nav__list-item
            a(href="./wide-insert.html") Широкая вставка
        li.nav__list-item
            a(href="./list-insert.html") Вставка-список
        li.nav__list-item
            a(href="./side-insert.html") Боковой виджет
        li.nav__list-item
            a(href="./default-insert.html") Стандартный виджет
        li.nav__list-item
            a(href="./toster-insert.html") Тостер